# Use root/example as user/password credentials
version: "3.1"

services:
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_DATABASE: wickedmolly
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 3ei0kiMxfYnXtWlec6Ok

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: 3ei0kiMxfYnXtWlec6Ok
      ME_CONFIG_MONGODB_URL: mongodb://root:3ei0kiMxfYnXtWlec6Ok@mongo:27017/

  backend-dev:
    image: minter-backend
    depends_on:
      - mongo
    build:
      context: ./Backend
      dockerfile: Dockerfile.Dev
    ports:
      - 8000:8000
    volumes:
      - ./Backend:/backend

  frontend-dev:
    image: minter-frontend
    depends_on:
      - backend-dev
    build:
      context: ./Frontend
      dockerfile: Dockerfile.Dev
    ports: 
      - 8080:8080
    volumes:
      - ./Frontend:/app