.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.card {
  &--image {
    background-color: rgba($color: #888888, $alpha: 0.6);
  }
}

.imagecontainer {
  height: 82vh;
  overflow-x: hidden;
  overflow-y: auto;
}
